//-----------------------------------Center Elemnts
@mixin center-el {
  display: flex;
  justify-content: center;
  align-items: center;
}

//-----------------------------------Basic Properties for Pseudo Classes
@mixin after-before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
//------------------------------------Scroll bar Design

@mixin scroll {
  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.6rem rgba($black, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-grey-dark;
    outline: 1px solid $color-grey-light;
    border-radius: 0.5rem;
  }
}
//--------Scroll Light
@mixin scroll-light {
  
  &::-webkit-scrollbar {
    width: 0.7rem;
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: $off-white;
  }

  &::-webkit-scrollbar-thumb {
    transition: all 1s ease;
    background-color: $color-grey-lighter;
    outline: none;
    border-radius: 0.5rem;
  }
}

//--------Scroll Horizintal
@mixin scroll-horizintal {
  
  &::-webkit-scrollbar {
    height: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.6rem rgba($black, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    transition: all 1s ease;
    background-color: $color-grey;
    outline: 1px solid $color-grey-light;
    border-radius: 0.5rem;
  }
}

//-----------------------------------Main Grid 8 x 8
@mixin grid {
  display: grid;
  grid-template-rows: repeat(8, min-content);
  grid-template-columns:
    [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end])
    [center-end] minmax(5rem, 1fr) [full-end];
  gap: 1rem;
}

@mixin main-grid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end])
    [center-end] minmax(5rem, 1fr) [full-end];
}
//------------------------------Media Query Manager
/*
0 - 600 :  Phone
600 - 900 : tablet portrait 
900 - 1200 : tablet landscape 
1800 + : big screens 

$Breakpoint
- phone
- tab-port
- tab-land
- big-desktop

Note: 1em = 16px (broswer Defualt Font)
*/
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      //1200
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800
      @content;
    }
  }
}
