//--------------------------------------WEBSITE MAIN COLORS -MAIN THEME IS BLUE-
$color-primary: #f86f6f;
$color-primary-dark: #f15053;
$color-primary-light: #f77e80;
$border-primary: #d66161;

//--------------------------------------gradient

$grad-light: #2f2667;
$grad-dark: #140e3f;

//--------------------------------------PLEASE DON"T CHANGE
$black: #121217;
$color-grey: #bebec4;
$color-grey-dark: #a3a3b2;
$color-grey-darker: #4f5569;
$color-grey-light: #cbcbd9;
$color-grey-lighter: #eaeaf0;

$text: #9595a0;
$white: #fff;
$grey: #abb5c5;
$light-grey: #fbfbfb;
$off-white: #F8F8F8;

$blue: #293972;
$dark: #02061b;

$success: #1abf47;
$error: #e61818;
$warning: #f8b90b;
$info: #2f81bc;
//--------------------------------------FONTS
$font: "Open Sans", sans-serif;

//--------------------------------------BOX SHADOW
$shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
$shadow-dark: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.4);
$shadow-white: 0 0rem 1rem rgba(255, 255, 255, 0.4);
$shadow-white-light: 0 0 0.4rem rgba(255, 255, 255, 0.5);

$shadow-light: 0 0rem 1rem rgba(0, 0, 0, 0.2);
$shadow-input: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.1);
