//----------------------------------------Footer
.footer {
    padding: 5rem 10rem 0;
    background-color: $color-grey-lighter;
    @include responsive(tab-land) {
        padding: 5rem 6rem 0;
    }

    @include responsive(tab-port) {
        padding: 5rem 5rem 0;
    }

    @include responsive(phone) {
        padding: 5rem 3rem 0;
    }

    &__top {
        display: grid;
        grid-template-columns: 1fr repeat(2, 0.7fr);
        gap: 10rem;
        color: $black;
        font-size: 1.4rem;
        border-bottom: 1px solid $color-grey;
        padding-bottom: 3rem;
        @include responsive(phone) {
            grid-template-columns: 1fr;
            gap: 4rem;
        }
        .sitenav {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10rem;
        }
        h4 {
            font-size: 1.6rem;
            color: $black;
            font-weight: 600;
            margin-bottom: 1rem;
            strong {
                font-weight: 600;
            }
        }

        &-newsletter {
            margin-right: 5rem;
            @include responsive(tab-land) {
                margin-right: 0;
            }
            @include responsive(phone) {
                margin-right: 0;
            }
            &--input {
                display: grid;
                grid-template-columns: 1fr max-content;
                margin-top: 2rem;
                input {
                    border: 1px solid $color-grey;
                    border-right: none;
                    border-radius: 0;
                    border-top-left-radius: 0.4rem;
                    border-bottom-left-radius: 0.4rem;
                    background: none;
                    color: $black;
                    height: 4rem;
                }
                a {
                    background-color: $color-primary;
                    border-top-right-radius: 0.4rem;
                    border-bottom-right-radius: 0.4rem;
                    border: 1px solid $color-grey;
                    border-left: none;
                    width: 4rem;
                    height: 4rem;
                    @include center-el;

                    svg {
                        width: 2rem;
                        height: 2rem;
                        fill: $white;
                    }

                    &:hover {
                        background-color: darken($color-primary, 4%);
                    }
                }
            }

            &--social {
                display: flex;
                margin-top: 3rem;
                a {
                    margin-right: 2rem;
                }
            }
        }

        &-nav {
            li {
                padding: 0.75rem 0;
                svg {
                    width: 2rem;
                    height: 2rem;
                    fill: $color-grey-darker;
                    display: inline-block;
                    margin: 0 0.5rem -0.3rem 0;
                }
            }
            a {
                display: block;
                color: $black;

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }

    &__copyright {
        padding: 2.5rem 0;
        color: $black;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        img {
            display: inline-block;
            margin-bottom: -0.6rem;
            height: 2rem;
        }
        @include responsive(phone) {
            display: block;
            text-align: center;
        }
    }
}