.btn,button.btn {
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 0.6rem;
    position: relative;
    border: none;
    z-index: 5;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    backdrop-filter: blur(2px);
    cursor: pointer;
    svg.arrow {
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: -0.3rem;
        margin-left: 0.4rem;
        display: inline-block;
    }
    &-caret {
        padding-right: 6rem;
        span {
            display: inline-block;
            padding: 1rem 1.5rem;
            margin-left: 3rem;
            position: absolute;
            right: 0;
            top: 0;
            &.grey {
                background-color: darken($color-grey-light, 10%);
            }
        }
    }

    //----------------------------------------------------Pseudo Button classes for hover effect
    &::after {
        @include after-before;
        display: inline-block;
        z-index: -1;
        border-radius: 0.4rem;
        transition: all 0.4s ease;
    }

    &:hover {
        box-shadow: $shadow;
        &::after {
            transform: scaleX(1.2) scaleY(1.4);
            opacity: 0;
        }
    }
    &-primary {
        background-color: $color-primary;
        color: $white;
        border: 1px solid $border-primary;
        svg.arrow {
            fill: $white;
        }
        &--border {
            color: $white;
            background-color: rgba($white, 0);
            border: 1px solid $color-primary;
            // box-shadow: $shadow-white-light;
            &::after {
                border: 1px solid $color-primary;
            }
        }
        &::after {
            background-color: $color-primary;
        }
        svg {
            display: inline-block;
            margin-right: 0.5rem;
        }

        &:hover {
            background-color: darken($color-primary, 3%);
            transform: translateY(-2px);
            box-shadow: $shadow;
        }

        &:focus {
            transform: translateY(-1px);
        }
    }

    &-success {
        background-color: $success;

        &::after {
            background-color: $success;
        }
    }

    &-white {
        background-color: $white;
        color: $color-primary;
        border: 1px solid $border-primary;
        padding: 1rem 4rem;
        svg.arrow {
            fill: $color-primary;
        }
        &::after {
            background-color: $white;
            color: $color-grey-dark;
        }

        &:hover {
            transform: translateY(-2px);
            box-shadow: $shadow;
            background-color: $color-primary;
            color: $white;
            svg.arrow {
                fill: $white;
            }
        }
        &:focus {
            transform: translateY(-1px);
        }
      
    }

    &-white-border {
        background-color: transparent;
        color: $white;
        border: 1px solid $white;
        padding: 1rem 4rem;
        svg.arrow {
            fill: $color-primary;
        }
        &::after {
            background-color: transparent;
            color: $color-grey-dark;
        }

        &:hover {
            transform: translateY(-2px);
            box-shadow: $shadow;
            background-color: $color-primary;
            color: $white;
            svg.arrow {
                fill: $white;
            }
        }
        &:focus {
            transform: translateY(-1px);
        }
      
    }

    &-grey {
        background-color: $color-grey-light;
        color: $color-grey-dark;

        &::after {
            background-color: $color-grey-light;
            color: $color-grey-dark;
        }
        svg {
            fill: $color-grey-light;
            display: inline-block;
            margin-right: 1.5rem;
        }
    }

    &-default {
        background-color: $black;
        color: $color-grey-lighter;
        &::after {
            background-color: $black;
        }
        &:hover {
            transform: translateY(-2px);
            box-shadow: $shadow;
            color: $white;
        }
    }

    &-small {
        font-size: 1.1rem;
        padding: 0.7rem 1.5rem;
    }

    &-tiny {
        border-radius: 0.3rem;
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
    }
}

a.link {
    display: inline-block;
    color: $blue;
    font-weight: 600;
    font-size: 1.4rem;
    background-image: linear-gradient(120deg, transparent 0, transparent 50%, $blue 50%);
    background-size: 220%;
    padding: 0.5rem 0;
    border-radius: 0.4rem;
    svg {
        width: 1.3rem;
        height: 1.3rem;
        fill: $blue;
        display: inline-block;
        margin: 0 0 -0.3rem 0.5rem;
    }

    &:hover {
        color: $white;
        background-position: 100%;
        padding: 0.5rem 1rem;
        svg {
            fill: $white;
        }
    }
}
