.form-group {
  margin-bottom: 1.5rem;

  &-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

.btns {
  text-align: right;
}

//-------------------------------------Input
.form-control {
  height: 4.5rem;
  font-family: $font;
  border: none;
  border: 1px solid $color-grey-light;
  width: 100%;
  outline: none;
  box-shadow: $shadow-input;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  padding: 1rem;
  //-----------------------------------Clear Broser History Background
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  &:focus {
    outline: none;

    border-bottom: 2px solid $color-grey-dark;
    box-shadow: $shadow-input;
  }

  //-----------------------------------Invalid Input
  &:focus:invalid {
    outline: none;
    border: none;
    border-bottom: 2px solid $error;
  }

  //-----------------------------------Input Placeholder
  &::-webkit-input-placeholder,
  &::-webkit-textarea-placeholder {
    // text-transform: uppercase;
    color: $color-grey-dark;
    font-weight: 300;
    //padding-top: 1rem;
    // text-indent: 8px;
  }
}

.label {
  display: block;
  text-transform: uppercase;
  transition: all 0.3s;
  margin: 0.5rem 0.2rem 0.5rem 0;
  font-size: 1.2rem;
  color: $color-grey-light;
  transform: translateY(-7.5rem);
}
//------input Label Hidden if Placeholder shown
input:placeholder-shown + .label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4.5rem);
}

textarea.form-control {
  width: 100%;
  height: auto;
  font-family: $font;
  font-size: 1.4rem;
}

//-------------------------------------Radio Buttons-------------

.checkboxs-inline {
  display: flex;
  padding: 1.5rem 2rem 1rem;
  justify-content: start;
  align-items: center;
  background-color: $color-grey-lighter;
  width: 100%;
  margin-top: 1rem;
  @include responsive(phone) {
    display: block;
  }
  .checkbox {
    margin-right: 2rem;
    @include responsive(phone) {
      margin-bottom: 1rem;
    }
  }

  p {
    margin: 0 0 1rem 0;
    padding: 0;
    font-size: 1.4rem;
    strong {
      color: $dark;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 2.8rem;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  font-size: 1.4rem;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  border: 1px solid $color-grey;
  border-radius: 100%;
  background: $white;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background: $color-primary;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

  @include responsive(phone) {
    left: 3px;
  }
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
