
//-------------- JUMBOTRON INTRANCE

@keyframes left {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes right {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(400%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}



@keyframes shape2 {
    0% {
    
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    } 
}



@keyframes cloud {
    0% {
    
        left: 90px;
    }
    50% {
        left: 690px;
    }
    100% {
        left: 90px;
    } 
}

@keyframes cloud2 {
    0% {
    
        right: 190px;
    }
    50% {
        right: 690px;
    }
    100% {
        right: 190px;
    } 
}

@keyframes right-left {
    0% {
        left: 58%;
    }
    50% {
        left: 60%;
    }
    100% {
        left: 58%;
    } 
}


@keyframes payer {
    0% {
        transform: translate(-10%,10%);
    }
    25% {
        transform: translate(-5%,-5%);
    } 
    50% {
        transform: translate(0%,0%);
    } 
    50% {
        transform: translate(5%,5%);
    } 
    100% {
        transform: translate(10%,-10%);
    } 
}

@keyframes provider {
    0% {
        transform: translate(10%,-10%);
    }
    25% {
        transform: translate(5%,5%);

    } 
    50% {
        transform: translate(0%,0%);
    } 
    50% {
        transform: translate(-5%,-5%);

    } 
    100% {
        transform: translate(-10%,10%);
      
    } 
}


@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }

    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }

    80% {
        transform: translateY(-10px) rotate(-45deg);
    }

    100% {
        transform: translateY(0) rotate(-45deg);
    }
}


@keyframes up-down {
    0% {
       margin-top: 0rem;
    }

    100% {
        margin-top: 1rem;
    }
}
