//---------------------------------------------------------H1
.head-1 {
  font-size: 5rem;
  color: $color-grey-dark;
  font-weight: 600;
  line-height: 6rem;
  // text-transform: uppercase;
  //-----------------------------WHITE Head 1
  @include responsive(phone) {
    font-size: 3.5rem;
  }
  &--white {
    color: $white;
  }
}

//---------------------------------------------------------H2
.head-2 {
  text-align: center;
  font-size: 4rem;
  font-weight: lighter;
  color: $black;
  margin-bottom: 8rem;
  position: relative;
  text-transform: uppercase;
  span {
    color: $color-primary;
  }
  &::before {
    @include after-before;
    width: 10rem;
    left: 50%;
    top: 7.5rem;
    transform: translateX(-50%);
    height: 1px;
    background-color: $color-primary;
    @include responsive(phone) {
     display: none;
  }
  }

  &--white {
    color: $white;
  }
}

//---------------------------------------------------------H3
.head-3 {
  font-size: 2rem;
  color: $black;
  font-weight: 600;
  // text-transform: uppercase;

  //-----------------------------WHITE Head 1
  &--white {
    color: $white;
  }
}
//---------------------------------------------------------H4
.head-4 {
  font-size: 3.2rem;
  color: $color-primary;
  font-weight: 300;
  text-transform: uppercase;

span {
  color: $color-primary;
}
   //-----------------------------WHITE Head 1
   &--black {
    color: $black;
  }


  //-----------------------------WHITE Head 1
  &--white {
    color: $white;
  }
}

//---------------------------------------------------------H5
.head-5 {
  font-size: 2rem;
  color: $black;
  font-weight: 600;
  // text-transform: uppercase;

  //-----------------------------WHITE Head 1
  &--white {
    color: $white;
  }
}


//---------------------------------------------------------H6
.head-6 {
  font-size: 3.2rem;
  color: $black;
  font-weight: 600;
  // text-transform: uppercase;
small {
  display: block;
  font-size: 1.8rem;
}
  //-----------------------------WHITE Head 1
  &--white {
    color: $white;
  }
}

.heading-primary {
  color: $black;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  font-weight: 300;
  &--main {
    display: block;
    font-size: 4.2rem;
    letter-spacing: 1rem;
    color: $color-primary;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-bottom: 0;
    @include responsive(phone) {
      letter-spacing: 1rem;
      font-family: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out;
    font-weight: 500;
    @include responsive(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: $dark;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  margin-bottom: 1.5rem;
  @include responsive(tab-port) {
    font-size: 3rem;
  }

  @include responsive(phone) {
    font-size: 2.5rem;
  }

  &--white {
    color: $white;
  }
  // &:hover {
  //   // transform: skewY(2deg) skewX(15deg) scale(1.1);
  //   //text-shadow: 0.5rem 1rem 2rem rgba($dark, 0.2);
  // }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.head-small {
  display: block;
  font-size: 1.2rem;
  color: $grey;
  margin-top: 0.5rem;
  strong {
    font-weight: 600;
    color: $info;
  }
}

//-----------------------------PRIMARY TEXT
.text-primary {
  font-size: 1.4rem;
  color: $text;
  font-weight: 300;

  //-----------------------------WHITE PRIMARY TEXT
  &--white {
    color: $white;
    font-size: 1.5rem;
    font-weight: 300;
    &:hover {
      color: $color-grey-light;
    }
  }

  //-----------------------------grey PRIMARY TEXT
  &--grey {
    color: $grey !important;
    font-size: 1.2rem;
    font-weight: 300;
  }
}

//-----------------------------SMALL TEXT
.text-small {
  font-size: 1.2rem;
  font-weight: 300;
  //-----------------------------WHITE SMALL TEXT
  &--white {
    color: $white;
  }
}

//-----------------------------SMALL TEXT
.text-info {
  font-size: 1.4rem;
  color: $info;

  strong {
    font-weight: 600;
  }
}

.paragraph {
  font-size: 2rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
