.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.res-img {
    max-width: 100%;
}

.ruler {
    width: 100%;
    display: table;
    height: 1px;
    background-color: $color-grey-light;
    margin: 2rem 0;
    clear: both;
}

//------------------MARGIN left
.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 4rem;
}

.ml-5 {
    margin-left: 5rem;
}

.ml-6 {
    margin-left: 6rem;
}



//------------------MARGIN TOP

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}
.mt-6 {
    margin-top: 6rem;
}

.mt-7 {
    margin-top: 7rem;
}

.mt-8 {
    margin-top: 8rem;
}

.mt-9 {
    margin-top: 9rem;
}

.mt-10 {
    margin-top: 10rem;
}

//------------------MARGIN Bottom

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

.mb-7 {
    margin-bottom: 7rem;
}

.mb-8 {
    margin-bottom: 8rem;
}

.mb-9 {
    margin-bottom: 9rem;
}

.mb-10 {
    margin-bottom: 10rem;
}

.b-0 {
    border: none !important;
}

.hide {
    display: none;
}

.search-svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: $white;
}

.block {
    display: block;
    width: 100%;
    height: 4.5rem;
}

.white {
    color: $white;
    fill: $grey;
}

.disable {
    opacity: 0.3;
    cursor: no-drop !important;
}

.hidden {
    display: none !important;
}

.showH {
    display: block !important;
}

.link-primary {
    color: $color-primary;
}

.same2div {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    @include responsive(phone) {
        grid-template-columns: 1fr;
    }
    // Ensure content elements fill up the .column
    .bg {
        height: 100%;
    }
}

.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include responsive(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;

    @include responsive(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big {
    margin-top: 8rem !important;
}
.u-margin-top-huge {
    margin-top: 10rem !important;
}

.fb,
.linkedin {
    width: 3rem;
    height: 3rem;
    border: 1px solid $color-grey-darker;
    border-radius: 50%;
    transition: all 0.3s ease;
    @include center-el;

    svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: $color-grey-darker;
    }

    &-header {
        border: 1px solid $white;
        svg {
            fill: $white;
        }
    }
}

.strong {
    font-size: 1.6rem;
    font-weight: 600;
    color: $black;
}

.fb:hover {
    border: 1px solid #3b5998;
    background-color: #3b5998;
    svg {
        fill: $white;
    }
}
.linkedin:hover {
    border: 1px solid #0e76a8;
    background-color: #0e76a8;
    svg {
        fill: $white;
    }
}
